<!DOCTYPE html>
<html lang="en">

<script>
    function clicked() {
    return confirm('clicked');
}
</script>
<style>
    body{
    margin: 0 auto;
    width:100%;
    height:100%;
    background-color: black;
    color: #e6ffff;
    overflow:hidden;
}

.container input {
    transition: all 0.6s ease-in-out;
}
</style>

<p><a href="search.html">Click here to search for foods!</a></p>
<p><a href="comments.html">Click here to make a comment!</a></p>
<p><a href="login.html">LOGIN Page</a></p>

  <body>

    <div class="Container">

        <h1>Create Account</h1>
        <h2>Please fill the entries bellow</h2>

        <form method="POST" action="/add">
            <p>user_name: <input type="text" name="user_name" placeholder="Enter username" required> </p>
            <p>name: <input type="text" name="name" placeholder="Enter your full name" required> </p>
            <p>email: <input type="email" name="email" placeholder="Enter your email" required> </p>
            <input type="radio" name="sex" value="M"> Male<br>
            <input type="radio" name="sex" value="F"> Female<br>
            <input type="radio" name="sex" value="O"> Other<br>
            <input type="reset" required>
            <input type="submit" value="submit" onclick="return clicked();" value="Button">
            </p>
            <-- Check constraints for sex need to be added--!>
            <p>

            </p>
        </form>
    </div>


</body>

</html>
