<!DOCTYPE html>
<html lang="en">
     <head>
        <link href="style.css" rel="stylesheet">
     </head>
<p><a href="search.html">Click here to search for foods!</a></p>
  <body>

    <div class="Container">

        <h1>Create Account</h1>
        <h2>Please fill the entries bellow</h2>

        <form method="POST" action="/add">
            <p>user_name: <input type="text" name="user_name" placeholder="Enter username" required> </p>
            <p>name: <input type="text" name="name" placeholder="Enter your full name" required> </p>
            <p>email: <input type="email" name="email" placeholder="Enter your email" required> </p>
            <input type="radio" name="sex" value="M"> Male<br>
            <input type="radio" name="sex" value="F"> Female<br>
            <input type="radio" name="sex" value="O"> Other<br>
            <input type="reset" required>
            <input type="submit" value="submit">
            </p>
            <-- Check constraints for sex need to be added--!>
            <p>

            </p>
        </form>
    </div>


    <div>
        <form method="POST" action="/add_allergy">
            <p>allergy_name: <input type="text" name="allergy_name" placeholder="enter new allergy" required> </p>
        <input type="submit" value="submit">
        </form>
    </div>

  <h1>Users table</h1>

  <div>{{data}}</div>

  <div>
    {% for n in data %}
        <div>{{n}}</div>
    {% endfor %}
  </div>

</body>

</html>
