<!DOCTYPE html>
<html lang="en">

<p><a href="index.html">Go back</a></p>

  <body>

    <div class="Container">

        <h1>Search for a Dish</h1>
        <h2>By Name</h2>

        <form method="POST" action="/search_food">
            <p>Search: <input type="text" name="search_food" placeholder="Enter a name of a dish" required> </p>
            <input type="submit" value="submit">
            </p>
        </form>
    </div>

  <h1>Foods table</h1>

  <div>
    {% for n in data %}
        <div>{{n}}</div>
    {% endfor %}
  </div>

</body>

</html>